@tailwind base;

body {
  margin: 0;
}

@tailwind components;

@tailwind utilities;

blockquote {
  border-left: .25rem solid #dfe2e5;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
}

a {
  color: #3498db;
}

ul li a {
  text-decoration underline;
}

.custom-block-title {
  font-size: 1.5rem;
}