@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
}

.tip,
blockquote {
  border-left: .25rem solid #dfe2e5;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
}

a {
  color: #3498db;
}

ul li a {
  text-decoration underline;
}

.custom-block-title {
  font-size: 1.5rem;
}

p {
  margin: 1rem;
}

@css {
  pre {
    @apply p-4 text-gray-100 rounded bg-blue-900 mb-2
  }

  h2 {
    @apply pb-2 m-0 mt-8 font-light font-bold text-xl
  }
  h3 {
    @apply pb-2 m-0 mt-4 font-light text-lg
  }
  .time {
    @apply text-sm bg-green-900 rounded text-gray-100 py-1 px-2 ml-1
  }
}